[Unit]
Description=Raspikoma bootup
After=network.target

[Service]
ExecStart=/home/motoko/raspi-koma/raspi-koma/bin/python3 /home/motoko/raspi-koma/scripts/pi_start.py
WorkingDirectory=/home/motoko
StandardOutput=inherit
StandardError=inherit
Type=simple
User=motoko
Group=motoko

# shutdown process will kill manually this service
Restart=on-failure
RestartSec=5s

# ensure clean exit doesn't trigger a restart
SuccessExitStatus=0

[Install]
WantedBy=multi-user.target