[Unit]
Description=Raspikoma Shutdown Button Listener
After=network.target

[Service]
ExecStart=/home/motoko/raspi-koma/raspi-koma/bin/python3 /home/motoko/raspi-koma/scripts/shutdown.py
WorkingDirectory=/home/motoko
StandardOutput=inherit
StandardError=inherit
Restart=always
User=motoko
Group=motoko

[Install]
WantedBy=multi-user.target